#headerDown ul .coffee a{
    background-color: white;
    color: black;
}

#productLine .pr12 {
    visibility: hidden;
} 

#productLine .pr1 .prImg {
    background-image: url(./img/coffeeimg/1.jpg);
}
#productLine .pr2 .prImg {
    background-image: url(./img/coffeeimg/2.jpg);
}
#productLine .pr3 .prImg {
    background-image: url(./img/coffeeimg/3.jpg);
}
#productLine .pr4 .prImg {
    background-image: url(./img/coffeeimg/4.jpg);
}

#productLine .pr5 .prImg {
    background-image: url(./img/coffeeimg/5.jpg);
}
#productLine .pr6 .prImg {
    background-image: url(./img/coffeeimg/6.jpg);
}
#productLine .pr7 .prImg {
    background-image: url(./img/coffeeimg/7.jpg);
}
#productLine .pr8 .prImg {
    background-image: url(./img/coffeeimg/8.jpg);
}

#productLine .pr9 .prImg {
    background-image: url(./img/coffeeimg/9.jpg);
}

#productLine .pr10 .prImg {
    background-image: url(./img/coffeeimg/10.jpg);
}

#productLine .pr11 .prImg {
    background-image: url(./img/coffeeimg/11.jpg);
}